header > h1{
    color:royalblue;
    text-align: center;
}
.left{
    width: 330px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
    float:left;
margin: 0px 0px 0px 10px 15px;
padding: 30px 30px 30px 30px;
}
.right{
     width: 330px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 25px;
    float:right;
margin: 0px 0px 0px 10px 15px;
padding: 30px 30px 30px 30px;
}
h2{
    text-align: center;
}
h3{
     text-align: center;
}
#submitbtn{
    background-color: blueviolet;
    color: #ffffff;

}
svg{
    float: left;
}
form{
padding: 20px;
}